{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Posted</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

</head>

<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper grey lighten-1">
                <ul>
                    <li>
                        <a href="/" class="black-text left grey lighten-1 brand-logo">Posted</a>
                    </li>
                </ul>
                <ul class="right">
                    <li><a class="black-text" href="{% url 'about' %}">About</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="black-text" href="{% url 'posters_create' %}">Add a Poster</a></li>
                    <li><a class="black-text" href="{% url 'index' %}">View Poster Gallery</a></li>
                    <li><a class="black-text" href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                    <li><a class="black-text" href="{% url 'login' %}">Log In</a></li>
                    <li><a class="black-text" href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer grey lighten-1">
        <div class="black-text right grey lighten-1">
            All Rights Reserved, © 2022 Posted
        </div>
    </footer>
</body>

</html>